@charset "utf-8";
/* CSS Document */

body {
font-family: "Palatino Linotype", verdana, sans-serif;
font-size: 15px;
line-height: 1.5em;
color: #333;
background: #ccb3ff;
margin: 0;
padding: 0;
text-align: center;
width: 100%;
}
p {
margin-top: 10px;
}
a:link {
text-decoration: none;
color: #000;
}
a:visited {
text-decoration: none;
border-bottom: non;
color: #000;
}

a:hover, a:active {
text-decoration: none;
border-bottom: none;
}
img {
border: 0;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#container {
top: 190px;
width: 100%;
position: fixed;
background: #ccb3ff;
text-align: left;
height: 750px;
overflow-y:scroll; 
}

#menu {
font-family: "Palatino Linotype", verdana, sans-serif;
font-size: 20px;
font-weight: bold;
position: fixed;
/*height: 60px;*/
top: 110px;
left: 0px;
width: 100%;
padding: 0px;
/*color: #000000;*/
}


#header {
position: fixed;
top: 0px;
left: 0px;
width: 100%;
height:180px;
 background-color: #52527a;
}

#main {
margin: 15px 400px 15px 400px;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8585ad;
}

li {
   
  display: inline-block;
}

#menuItems{

 width: 100%;
  text-align: center;

}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #c2c2d6;
}

#name{
	color: #d1d1e0;
	font-size:27px;
	margin-top:50px;
}

.form, .dropdown, #searchform, #main{
background-color: #ccb3ff;
}

.textbox { 
    background: #d1d1e0; 
    border: 1px double #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 10px #333; 
    color: #666; 
    outline: none; 
    height:35px; 
    width: 250px; 
  } 
  
 .addToCartButton{
display: inline-block;
  border-radius: 2px;
  background-color: #52527a;
  border: none;
  color: white;
  text-align: center;
  font-size: 9px;
  padding: 0px;
  width: 70px;
  height: 30px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 8px;
	 
 }
  
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #52527a;
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 0px;
  width: 90px;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top:8px;
}
  
 .button:hover{
	 background-color: #d1d1e0;
	 color: #52527a;
 }
 
 .product{
background-color: #668cff;
 }
 
 col2{
margin-left: -40px;
 }
 
.socialMedia{
	width: 56px;
	height: 56px;
}

.SM{
	
	margin-top: -75px;
	margin-left: 900px;
}